body {
    background: linear-gradient(#000000, #999999)
    no-repeat;
    background-attachment: fixed;
}
header {
    background-color: rgb(58, 57, 57);
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    position: absolute;
    top: 20px;
    border-radius: 20px;
    height: 100px;
    z-index: 2;
    opacity: 50%;
}
#sigmaImg {
    width: 80px;
    margin-left: 40px;
    margin-top: auto;
    margin-bottom: auto;
    position: fixed;
    top: 30px;
    left: 20px;
    z-index: 3;
    

    animation: 2s linear 0s infinite menuImageRotation;
}
#gameStashH1 {
    text-align: center;
    font-family:  sans-serif, Arial;
    color: white;
}
#mainHeader {
    padding-top: 10px;
    text-align: right;
    margin-right: 20px;
    font-family: Alfa Slab One, Arial, sans-serif;
    color: white;
    width: 5000px;
}
.menuButton {
    border-radius: 5px;
    transition: all 0.1s;
    background-color: #000000;
    color: white;
}
.menuButton:hover {
    transform: scale(1.1, 1.1);
}
#menuButtons {
    position: fixed;
    text-align: right;
    top: 0px;
    right: 45px;
}
.gameLink {
    text-align: center;
    border-radius: 5px;
    width: 150px;
    height: 200px;
    cursor: pointer;
    transition: all 0.5s;
    background-color: #000000;
    color: white;
    box-shadow: 0px 0px 0.5px white;
    padding-bottom: 25px;
    margin-bottom: 20px;
}
.gameLinkImage {
    width: 140px;
    padding-top: 10px;
}
.gameLinkTitle {
    font-size: 1.25em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
.gameLink:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 0px 0px 25px white;
}
.container {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.3em;
    flex-direction: row;
    margin-top: 30px;
}
a {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
@keyframes menuImageRotation {
    100%{transform: rotateY(360deg)}
}
@keyframes menuButtonEnlarge {
    0%{transform: scale(1, 1);}
    100%{transform: scale(1.1, 1.1);}
}
@keyframes gameLinkEnlarge {
    0%{transform: scale(1, 1);}
    100%{transform: scale(1.1, 1.1);}
}